* linguist-vendored
*.js linguist-language=JavaScript
*.js linguist-vendored=false
*.sol linguist-language=Solidity
*.sol linguist-vendored=false

truffle.js* linguist-vendored
test/* linguist-vendored